<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <a class="navbar-brand" href="#"><img src="Images\HandlerWalter.png" alt="Italian Trulli" height="20%" width="20%"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
        <div class="d-flex">
            <li id="loginNav"><a href="/login">Login</a></li>
            <li id="logoutNav" style="display:none;"><button id="logoutBtn" class="btn btn-outline-primary">Logout</button></li>
            <div class="ms-auto">
            <a href="/cart" class="btn btn-primary">Cart <span id="cart-count">0</span></a>
            </div>
        </div>
    </div>
</nav>