<main>
       <nav class="song-list" style="margin-top: 2%;">
            <h2>Adventures in Modern Recording</h2>
            <ul>
                <li><a href="#beatnik">Beatnik</a></li>
                <li><a href="#adventures-in-modern-recording">Adventures in Modern Recording</a></li>
                <li><a href="#i-am-camera">I am a Camera</a></li>
                <li><a href="#vermillion-sands">Vermillion Sands</a></li>
            </ul>
        </nav>
    <section class="lyrics">
        <section id="beatnik" class="song">
            <h2>Beatnik</h2>
            <pre class="scrollable-lyrics">
All will be revealed before the next move
All will be revealed before the next move
Gimme some juice and let me blow
Tell that joker where to go
Gimme some air and let me breathe
Wake me when it's time to leave
I was a beatnik
A shark tooth fin and a chevrolet
A wild boy takes it all the way
No more charlie it's my throat
Send the bell-boy for my coat
I was a beatnik
All will be revealed before the next move
All will be revealed before the next move
I got to see you one more time
Show you to a friend of mine
Poor white man on an asian beat
An exis kid with a graceful streak
I was a beatnik
No more from charlie
No more from cole
No more expresso
I was a beatnik
All will be revealed before the next move
All will be revealed before the next move
    No more expresso...         
            </pre>
            <audio controls>
                <source src="mp3/Beatnik.mp3" type="audio/mpeg">
            </audio>
        </section>
  
        <section id="adventures-in-modern-recording" class="song"> 
            <h2>Adventures in Modern Recording</h2>
            <pre class="scrollable-lyrics">
There's a kid in a band
Got an axe in his hand
He's been learning all the chords
And he's writing all the words
Today you bought a new face
Tried it on for size
Now you see the world through
Different colored eyes
They're not playing
They're not playing
They're just having
Adventures in modern recording
Adventures in modern recording
Adventures in modern recording
So carefully directed
For modern mass appeal
Look just like a poster
Got yourself a deal
Let's begin promotion
This boy has got it made
Media exposure
It will make him all the rage
But he's not playing
He's not playing
He's just having
Adventures in modern recording
Adventures in modern recording
Adventures in modern recording
            </pre>
            <audio controls>
                <source src="mp3/PlasticAge.mp3" type="audio/mpeg">
            </audio>
        </section>

        <section id="i-am-camera" class="song">
            <h2>I am a Camera</h2>
            <pre class="scrollable-lyrics">
A-one, two, three, four

Memories, how they fade so fast
Look back, there is no escape
Tied down, now you see too late
Lovers, they will never wait

I am a camera
I am a camera

Take heart, I will never let you go
If you wanna let your feelings show
Lovers all, how they never broke your hearts
You lose them if the feeling starts

I am a camera (I am a camera)
Camera camera
I am a camera (I am a camera)
Camera camera

Oh, oh
Oh, oh, oh, oh
Oh, oh
Oh, oh, oh, oh
Oh, oh
Oh, oh, oh, oh, oh
            </pre>
            <audio controls>
                <source src="mp3/iAmACamera.mp3" type="audio/mpeg">
            </audio>
        </section>
        
        <section id="vermillion-sands" class="song">
            
            <h2>Vermillion Sands</h2>
            <pre class="scrollable-lyrics">
My heart is an alligator
Better watch your step - watch your step
This heat is an incubator
Make a diamond sweat - wanna bet
Live life like you're flying solo
Never in the net - in the net
                
Dancing in silence the orchestra late
In the Essoldo or down by the lake
I don't care
                
Take me to Vermilion Sands
Hold me in familiar hands
Take me to Vermilion Sands
                
Sand yacht on a thermal roller
We were never there - never there
Live life like you're flying solo
Never in the air - in the air
                
Dancing in silence the orchestra late
In the Essoldo or down by the lake
I don't care
                
Take me to Vermilion Sands
Hold me in familiar hands
Take me to Vermilion Sands
            </pre>
            <audio controls>
                <source src="mp3/VermillionSands.mp3" type="audio/mpeg">
            </audio>
        </section>
    </section>
</main>
