<main>
        <nav class="song-list" style="margin-top: 2%;">
            <h2>The Age of Plastic</h2>
            <ul>
                <li><a href="#video-killed-the-radio-star">Video Killed the Radio Star</a></li>
                <li><a href="#living-in-the-plastic-age">Living in the Plastic Age</a></li>
                <li><a href="#clean-clean">Clean Clean</a></li>
                <li><a href="#elstree">Elstree</a></li>
            </ul>
        </nav>
    <section class="lyrics">
        <section id="video-killed-the-radio-star" class="song">
            <h2>Video Killed the Radio Star</h2>
            <pre class="scrollable-lyrics">
I heard you on the wireless back in '52
Lying awake intently tuning in on you
If I was young it didn't stop you coming through
Oh-a-oh
               
They took the credit for your second symphony
Rewritten by machine on new technology
And now I understand the problems you can see
                                
Oh-a-oh
I met your children
Oh-a-oh
What did you tell them?
                                
Video killed the radio star
Video killed the radio star
Pictures came and broke your heart
Oh-a-a-a oh
                                
And now we meet in an abandoned studio
We hear the playback and it seems so long ago
And you remember the jingles used to go:
                                
Oh-a-oh
You were the first one
Oh-a-oh
You were the last one
                                
Video killed the radio star
Video killed the radio star
In my mind and in my car
We can't rewind, we've gone too far
Oh-a-a-a oh
Oh-a-a-a oh
                                
Video killed the radio star
Video killed the radio star
In my mind and in my car
We can't rewind, we've gone too far
Pictures came and broke your heart
Put the blame on VTR...
                                
You are the radio star
You are the radio star
Video killed the radio star
Video killed the radio star
Video killed the radio star
Video killed the radio star
    You are the radio star   
            Video killed the radio star            
            </pre>
            <audio controls>
                <source src="mp3/VideoKilledTheRadiostar.mp3" type="audio/mpeg">
            </audio>
        </section>
        
        <section id="living-in-the-plastic-age" class="song">
            <h2>Living in the Plastic Age</h2>
            <pre class="scrollable-lyrics">
Every day my metal friend
Shakes my bed at 6 a.m
Then the shiny serving clones
Run in with my telephones
                
Talking fast I make a deal
Buy the fake and sell what's real
What's this pain here in my chest?
Maybe I should take a rest
                
They send the heart police to put you under
Cardiac arrest
And as they drag you the door
They tell you that you've failed the test
                
Living in the
Living in the plastic age
Looking only half my age
Hello doctor lift my face
                
I wish my skin could stand the pace
In the bed I read my mind
Remember how the mice were blind
I watch them fighting in their cage
Could this be the plastic age?
                
They send the heart police
To put you under cardiac arrest
And as they drag you the door
They tell you that you've failed the test
                
Living in the
Plastic age
Plastic age
Plastic age
                
They send the heart police to put you under cardiac arrest
And as they drag you the door
They tell you that you've failed the test
                
Living in the plastic age
Plastic age
Plastic age
            </pre>
            <audio controls>
                <source src="mp3/PlasticAge.mp3" type="audio/mpeg">
            </audio>
        </section>
        
        <section id="clean-clean" class="song">
            <h2>Clean Clean</h2>
            <pre class="scrollable-lyrics">
Oh, go Johnny kick me in the head
Aimin' for the floorboards but they pick me up instead
Through the ringing from the night before
Said the engine's running, gotta pay a call
Johnny drove the half-track 'cause we could not find
The jeep with me in the morning gotta get some sleep
Driving all night out of fear
Got it in the ribs every time it changed gear
I'm gonna take a ride, gonna pick up the team
Gonna go where we've never been
I'm gonna take a ride, gonna pick up the team
(Pickin' up, pickin' up the team)
Now you know how it's hard to keep the fighting clean
Clean, clean
Clean, clean
Clean, clean
Clean, clean
Oh, go Johnny gonna fight the war
Shotgun in the morning at the local liquor store
Oh, go talking 'bout them diesel fuels
Johnny tell the chaplain go and polish his tombs
Lying on the waste-ground with a blanket on his face
Indicating that he's left the human race
Hell went open when the world came in
Gotta keep your head if you wanna win
I'm gonna take a ride, gonna pick up the team
Gonna go where we've never been
I'm gonna take a ride, gonna pick up the team
(Pickin' up, pickin' up the team)
God, you know it's hard to keep the fighting clean
Clean, clean
Clean, clean
Clean, clean
Clean, clean
Clean, clean

Clean, clean
Clean, clean
Clean, clean
Clean, clean

Lost a million in the very first attack
Clean, clean
Don't you worry 'cause you know we'll get them back
Clean, clean
Lost a million in the very first attack
Clean, clean
            </pre>
            <audio controls>
                <source src="mp3/CleanClean.mp3" type="audio/mpeg">
            </audio>
        </section>
        
        <section id="elstree" class="song">
            <h2>Elstree</h2>
            <pre class="scrollable-lyrics">
I had a dream on a back lot
And saw my life like a long shot
I smiled at faces in a picture parade
Of all the stills from the films that you made
That we would see in the Essoldo
Up there drinking coffee at the Giocondo

Elstree, remember me?
I had a part in a B movie
I played a man from history

Elstree, oh look at me
Now I work for the BBC
Life is not what it used to be

I took no dives in the fight scene
I had a stuntman keep my suit clean
There's no technology to make up the song
They stop the orchestra if you get it wrong

Elstree, remember me?
I had a part in a B movie
I played a man from history

Elstree, oh look at me
Now I work for the BBC
Life is not what it used to be

They made a field into a war zone
I beat the enemy on my own
All the bullets just went over my head
There's no reality and no one dead
                
        Elstree, remember me?       
I had a part in a B movie
I played a man from history

Elstree

Elstree

Elstree

Elstree
                
Elstree
            </pre>
            <audio controls>
                <source src="mp3/Elstree.mp3" type="audio/mpeg">
            </audio>
        </section>
    </section>

</main>
